@tailwind base;
@tailwind components;
@tailwind utilities;

.CenterScreen{
  @apply flex justify-center items-center h-screen
}

.LoadText{
  @apply text-gray-700 text-xl font-bold
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
