node_modules
.github
.env.example
.env.local
.env.development
.env.test
.env.production
.env
.gitignore
Dockerfile
README.md
next.config.json
tailwind.config.js
package.json
package.lock.json
tsconfig.json
cpg-api
public
styles